.bg-img{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    background-size: cover;
    height: 150vh;
}
.head{
    text-align: center;
    padding: 15px;
    color: white;
    text-transform: capitalize;
}
.img-h-w{
    height: 130px;
    width: 150px;
    padding: 20px;
}
.bg-col{
    background-color: white;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}
.div-head{
    text-transform: capitalize;
    text-decoration: underline;
    color: rgb(177, 54, 111);
}
.button1{
    padding: 25px;
    margin: 30px;
}
